*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;

}

nav ul li:hover{
    background: brown;
    
}

a{
    text-decoration: none;
    color: rgb(116, 14, 14);
}
p{
    color: rgb(116, 14, 14);
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 20px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;

}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
    border-radius: 50%;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.header{
    background: radial-gradient(#f97272,#ffd6d6);
}
.categories{
    margin: 70px 0;
}
.grid{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.grid img{
    width: 100%;
    
    
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
#row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#card{
    width: 23%;
    text-align: center;
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 50px;
    box-shadow: 0 0 4px 3px pink;
    min-height: 30%;
    /* flex-basis: 25%;
    padding: 10px;
    min-height: 200px;
    min-width: 200px;
    margin-bottom: 50px;
    border-style: solid;
    border-radius: 30px; */
    /* border-color: #f97272; */
}
#card img{
    width: 80%;
    height: 50%;
}
h2{
    text-align: center;
    margin-bottom: 30px;
}